.n {
    margin-top: 20px;
    text-align: center;
    color: crimson;
    font-weight: 500;
    padding: 0px;

}

.moc {
    position: absolute;
    height:100%;
    z-index: 1;
}

.z1 {
    
    z-index: 1;
}
